header {
    display: flex;
    height: 23px;
    margin-top: 61px;
    max-width: 1109px;
    width: 100%;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    &__list {
        display: flex;
        justify-content: space-evenly;
    }
    &__li {
        list-style: none;
        margin-left: 29px;
    }
    &__link {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -0.346154px;
        text-decoration: none;
        color: #111111;
        &:hover {
            color: #4A4FF2;
        }
    }
}