@use 'fonts';

@import 'header';
@import 'main';
@import 'footer';


.sec1-container {
    display: flex;
    min-width: 1109px;   
    width: 100%;
    justify-content: space-between;
    margin-top: 96px;
}
.sec1-left {
    display: flex;
    flex-direction: column;
}

.sec1-main {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    max-width: 635px;
    width: 100%;
}

.top-border {
    border-top: 2px solid rgb(175, 173, 173);
}

.sec1-right {
    display: flex;
    align-self: flex-end;   
    height: 34px;
    opacity: 0.6;
    font-style: italic;
}

.star {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}
.text-blue {
    color: #4A4FF2;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(32, 1fr);
    max-width: 1110px;
    width: 100%;
    max-height: 1960px;
}

.grid1 {
    grid-area: 1 / 1 / 8 / 4;
}

.grid2 {
    grid-area: 8 / 1 / 16 / 4;
}