@use 'fonts';

@import 'header';
@import 'main';
@import 'footer';


.sec1-container {
    display: flex;
    min-width: 1109px;   
    width: 100%;
    justify-content: space-between;
    margin-top: 96px;
    margin-bottom: 67px;
}
.sec1-left {
    display: flex;
    flex-direction: column;
}

.sec1-main {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    max-width: 635px;
    width: 100%;
}

.top-border {
    border-top: 2px solid rgb(175, 173, 173);
}

.sec1-right {
    display: flex;
    align-self: flex-end;   
    height: 34px;
    opacity: 0.6;
    font-style: italic;
}

.star {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}
.text-blue {
    color: #4A4FF2;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(32, 1fr);
    max-width: 1110px;
    width: 100%;
    max-height: 1960px;
    height: 100%;
    margin-top: 100px;
}

.grid1 {
    grid-area: 1 / 1 / 8 / 4;
}

.grid2 {
    grid-area: 1 / 4 / 7 / 7
}

.grid3 {
    grid-area: 1 / 7 / 11 / 9;
}

.grid4 {
    grid-area: 8 / 1 / 16 / 4;
}

.grid5 {
    grid-area: 7 / 4 / 14 / 7;
}

.grid6 {
    grid-area: 11 / 7 / 18 / 9;
}

.grid7 {
    grid-area: 16 / 1 / 24 / 4;
}

.grid8 {
    grid-area: 14 / 4 / 23 / 7;
}

.grid9 {
    grid-area: 18 / 7 / 27 / 9;
}

.grid10 {
    grid-area: 24 / 1 / 32 / 4;
}

.grid11 {
    grid-area: 23 / 4 / 32 / 7;
}

.grid12 {
    grid-area: 27 / 7 / 32 / 9;
}

.sec3-container {
    max-width: 1079px;
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    margin-top: 91px;
}

.sec3-left {
    max-width: 635px;
    width: 100%;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
}

.sec3-right {
    display: flex;
    justify-content: flex-end;
    margin-top: 18px;
    min-width: 262px;
    width: 100%;
    
}

.list-right {
    margin-right: 31px;
}

li {
    list-style: none;
    display: flex;
}

.sec3__link {
    text-decoration: none;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 10px;
}
.sec3__link:hover {
    color: #4A4FF2;
}

.sec4-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;
    border-top: solid 2px #D8D8D8;
}

.sec4-container-left {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.sec4-container-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 948px;
    width: 100%;
    margin-bottom: 59px;
    margin-top: 53px;
}

.sec4-container-right1 {
    display: flex;
    justify-content: space-between;   
    max-width: 596px;
    width: 100%;
}

.sec4-container-right-left {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

.sec4-container-right-middle {
    max-width: 190px;
    width: 100%;
}

.sec4-text-top {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.sec-4-text-bottom {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    opacity: 0.6;
}

.border-bottom {
    border-bottom: solid 2px #D8D8D8;
}
